.navbar-brand {
    font-family: 'Audiowide', cursive;
    color: dodgerblue;
    font-size: 20px;
}

.navbar-nav {
    font-family: 'Bebas Neue', cursive;
    color: rgb(98, 9, 241);
    font-size: 20px;
}

.news-header {
    font-family: 'Luxurious Roman', cursive;
    font-weight: bold;
    color: rgb(38, 5, 139);
    border: 2px solid rgb(38, 5, 139);
}

.btn {}