.navbar-brand {
    font-family: 'Audiowide', cursive;
    color: dodgerblue;
    font-size: 20px;
}

.navbar-nav {
    font-family: 'Bebas Neue', cursive;
    color: rgb(98, 9, 241);
    font-size: 20px;
}

.card-body {
    width: 100px;
    padding: 10px;
    margin: 50px;
}

.card-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: rgb(250, 250, 252);
}

.box {
    border: 2px solid blue;
    border-radius: 10px;
}

.small-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}